/* Importaciones - fuentes */
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');

/* Establecer las variables en nuestro css
    -paleta de colores
    -tipografías
    -medidas (opcional)
*/


/* root -> hace referencia a mi archivo raíz (<!DOCTYPE html>)*/
:root {
    /* paleta de colores */
    --colorFondo: #D8C37F;
    --colorEnfasis1: #A4AE20;
    --colorEnfasis2: #C57023;
    --colorEnfasis3: #7B361A;
    --colorText: #d9d09e85;
    --colorText2: #19160A;

    /* Fuentes */
    --textTitle: 'Ysabeau SC', sans-serif;
    --textContent: 'Quito', sans-serif;
}

/* condiciones o estilos iniciales de mi página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    width: 100vw;
    height: auto;
    /* Overflow -> me sirve para definir qué pasa con el contenido que sobresale de mi contenedor */
    overflow-x:hidden;

}


/* ----------------HEADER--------------- */
header{
    width: 100%;
    height: 100px;
}

.menuNavegacion{
/* importantísimo las dimensiones */
    width: 100%;
    height: 100px;
    background-color: var(--colorEnfasis3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    height: 100%;
}
.logo a{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--textContent);
    color: var(--colorText);
    /* grosor de la fuente */
    font-weight: bold;
    /* cambiar tamaño a la letra */
    font-size: 25px;
}
.p-logo{
    width: 150px;
    /* alineación del texto */
    text-align: left;
}
.span-logo{
    color: var(--colorEnfasis1);
}
.img-logo{
    height: 100%;
}

.listaMenu{
    display: flex;
    gap: 50px;
    list-style: none;
}

.listaMenu a{
    text-decoration: none;
    color: var(--colorText);
    font-family: var(--textContent);
    font-size: 20px;
}

.listaMenu a:hover{
    color: var(--colorEnfasis1);
}

/* ----------------MAIN--------------- */
main{
    width: 100%;
    padding: 100px;
}

.contenedorPrincipal{
   
    font-family: var(--textContent);
}

.contenedorPrincipal h1{
    /* font-family: var(--textTitle); */
    font-size: 40px;
    color: var(--colorEnfasis3);
}

.contenedorImagenes{
    border: 3px solid var(--colorEnfasis3);
    margin-top: 50px;
    border-radius: 50px;
}

/* ----------------FOOTER--------------- */

footer{
    height: 100px;
    background-color: var(--colorEnfasis3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: var(--textContent);
    color: var(--colorText);
}
