/* Importaciones - fuentes */
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');

/* Establecer las variables en nuestro css
    -paleta de colores
    -tipografías
    -medidas (opcional)
*/


/* root -> hace referencia a mi archivo raíz (<!DOCTYPE html>)*/
:root {
    /* paleta de colores */
    --colorFondo: #D8C37F;
    --colorEnfasis1: #A4AE20;
    --colorEnfasis2: #C57023;
    --colorEnfasis3: #7B361A;
    --colorText: #d9d09e85;
    --colorText2: #19160A;

    /* Fuentes */
    --textTitle: 'Ysabeau SC', sans-serif;
    --textContent: 'Quito', sans-serif;
}

/* condiciones o estilos iniciales de mi página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    width: 100vw;
    height: auto;
    /* Overflow -> me sirve para definir qué pasa con el contenido que sobresale de mi contenedor */
    overflow-x:hidden;
}


/* ----------------HEADER--------------- */
header{
    width: 100%;
    height: 100px;
    border: solid red;
    
}

.menuNavegacion{
/* importantísimo las dimensiones */
    width: 100%;
    height: 100px;
    background-color: var(--colorEnfasis3);
    position: fixed;
    top: 0;
    left: 0;
   
}

.logo{
    border: 5px solid violet;
    height: 100%;
    display: flex;
}
.logo a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-logo{
    height: 100%;
}
.listaMenu{
    border:5px solid green;
}

/* ----------------MAIN--------------- */


/* ----------------FOOTER--------------- */